<div class="row room-index">
  <div class="col-4 room-thumb">
    <%= render "room_image", room: room%>
  </div>
  <div class="col-6">
    <div class="col border room-view">
      施設名：<%= room.name %>
    </div>            
    <div class="col border room-view">
      利用料金：<%= room.price %>/日
    </div>
    <div class="col border room-view">
      施設紹介：<%= room.info %>
    </div>
    <div class="col border">
      登録日：<%= room.created_at.strftime("%Y年%m月%d日") %>
    </div>
  </div>
  <div class="col-2">
    <%= link_to "詳細を確認", show_room_path(room), class: "btn btn-secondary" %>
    <%= link_to "施設を予約", new_reservation_path(h_current_user.id, room.id), class: "btn btn-secondary" %>
  </div>
</div>