<% provide(:title, "登録した施設一覧")%>
<div class="container">
  <h1>あなたが登録した施設</h1>
  <% if @rooms.empty? %>
    <h5>施設が登録されていません。登録してみませんか？</h5>
    <%= link_to "施設登録", new_room_path, class: "btn btn-primary"%>
  <% else %>
    <div class="container">
      <% @rooms.each do |room| %>
        <div class="row room-index">
          <div class="col-4 room-thumb">
            <%= render "room_image", room: room%>
          </div>
          <div class="col-6">
            <div class="col border room-view">
              <%= link_to "施設名：#{room.name}", show_room_path(room) %>
            </div>            
            <div class="col border room-view">
              利用料金：<%= room.price %>/日
            </div>
            <div class="col border room-view">
              施設紹介：<%= room.info %>
            </div>
            <div class="col border">
              登録日：<%= room.created_at.strftime("%Y年%m月%d日") %>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>