<% provide(:title, "ログインページ") %>
<div class="container">
  <h1>ログインページ</h1>
  <div class="row">
    <div class="col-md-6">
      <%= form_with(url: login_path, scope: :session) do |f|%>
      
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control"%>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control"%>

        <%= f.submit "ログイン", class: "btn btn-primary" %>
      <% end %>
      <p>アカウントを持っていませんか？ <%= link_to "新規作成", signup_path %></p>
    </div>
  </div>
</div>