<% provide(:title, "ユーザーページ") %>
<div class="container">
  <h1>アカウント情報</h1>
  <% if h_logged_in? %>

    <div class="row">
      <div class="col-md-6">
        <table class="container">
          <h3>あなたの情報</h3>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
        </table>
        <%= link_to "アカウント情報の編集", edit_account_path, class: "btn btn-primary" %>
      </div>

      <div class="col-md-6">
        <h3>プロフィール情報</h3>
        <table class="container">
          <tr>
            <th>アバター</th>
            <td><%= image_tag @user.avatar %></td>
          </tr>
          <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= @user.appeal %></td>
          </tr>
        </table>
        <%= link_to "プロフィール情報の編集", edit_profile_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

